<div class="bases question-font question_<%= id  %>">


  <h2 class="question light-font question-font-size"><%= id %>. <%= text %></h2>

    <ul class="unstyled answers-list">
      <% _.each( answers, function(answer){ %>
      <li>
        <label class="label_radio light-font answers-font-size" for="answer_<%= answer.id %>">
          <input <%= selected == answer.id ? 'checked="checked"' : ""%> type="radio" id="answer_<%= answer.id %>" name="answer" value="<%= answer.id%>" /> <%= answer.text %> (<%= answer.score%> pontos)
        </label>
      </li>
      <% }); %>
    </ul>

  <a href="" class="previous simple-btn-previous regular-font disabled"> < Anterior</a>
  <a href="" class="next simple-btn-next regular-font disabled">Próxima ></i></a>


    <a href="" class="backHome">X</a>
</div>
